
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b0668;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    background-color: #2b0668;
    margin: 0.75%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  
  .divider {
    padding: 0.5%;
  }
  
  .title {
    display: flex;
    justify-content: center;
    color: white;
    /* font-weight: bold; */
    font-size: 55px;
    padding-top: 3%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .subtitle {
    display: flex;
    justify-content: center;
    color: white;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .subtitle2 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding-left: 2.5%;
    padding-right: 2.5%;

  }

.mat-toolbar {
    display: flex;
    justify-content: center;
    background-color: #2b0668;
    color: white;
    padding-right: 3%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

a
{
    color: #ffffff;
}

img.center {
    display: block;
    margin: 0 auto;
}
