    
    <div class="card-body" layout="row">
        <div class="container-fluid" layout="row">
            <div class="text-center">
                <h1 class="title">Terve rekrytiimi!</h1>
                <h2 class="subtitle">
                    Tämä simppeli Angular web-app on deployattu Azureen Azure DevOps (ADO) -pipelinea käyttäen (self-hosted agent)</h2>
            </div>
            <div>
                <mat-toolbar class="flexSpaceBetween">
                <a style="padding-right: 3%" routerLink="/cv">View CV</a>
                <a style="padding-right: 3%" href="https://github.com/pkaan/angular-azure">Repo</a>
                <a style="padding-right: 3%" href="https://dev.azure.com/peetukaz900/PKAAN/_build">ADO pipeline</a>
            </mat-toolbar>
            </div>
        </div>
    </div>
    <div style="border: 10px solid rgb(255, 255, 255);">
        <img class="center" src ="/assets/images/nic.gif">
    </div>
