<div class="card-body" layout="row">
    <div class="container-fluid" layout="row">
        <div class="text-center" style="text-align:center">
            <h1 class="title">Terve rekrytiimi!</h1>
            <h2 class="subtitle" style="text-align:center">
                Tämä simppeli Angular web-app ja app-service iac on deployattu Azureen Azure DevOps (ADO) -pipelinejä käyttäen.
            </h2>

            <h3 class="subtitle2" style="text-align:center">
                Huom. "Oikeassa elämässä" rakentaisin tämän apin Azuren ympäristöön, jossa olisi käytössä muitakin
                resursseja (esim. vnet, subnets, gateway, keyvault, api), ja appiin pääsy olisi suojattu. Lisäksi
                appi olisi rekisteröity Azure AD:hen. Käytössä olisi myös eri ympäristöt (esim. sbx/dev/qa/prod) ja custom domainit sertifikaatein.<br>

                Projektin pipelinet on tehty vain apin ja iac:n build + deploy -tarkoituksiin. Ne käyttävät self-host agenttia.
                Oikeassa elämässä koodi myös mm. testattaisiin unit, dast & sast -testein ci-vaiheessa. Ja mahdollisesti myös
                lintattaisiin ja formatoitaisiin. <br> <br>

                Appi ei ole myöskään osoitus koodauskyvyistäni, vaan tarkoituksena on demota yksinkertaista cloud & ci/cd kokonaisuutta Azurea käyttäen.
            </h3>

        </div>
        <div>
            <mat-toolbar class="flexSpaceBetween" style="text-align:center">
                <a style="padding-right: 3%" routerLink="/cv">View CV</a>
                <a style="padding-right: 3%" href="https://github.com/pkaan/pkaan-angular-ado-example">Repo</a>
                <a style="padding-right: 3%" href="https://dev.azure.com/peetukaz900/PKAAN/_build">ADO pipelines</a>
            </mat-toolbar>
        </div>
    </div>
</div>
<div style="border: 10px solid rgb(255, 255, 255);">
    <img class="center" src="/assets/images/nic.gif">
</div>